################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FileMonitor/bin/*
/FileMonitor/obj/*
/FileMonitorTests/bin/*
/FileMonitorTests/obj/*
/FileSystemEventsHandler/bin/*
/FileSystemEventsHandler/obj/*
/FileSystemRegistrator/bin/*
/FileSystemRegistrator/obj/*
